# Dependencies
node_modules/
dist/

# Environment variables
.env
.env.development
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Coverage directory
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 